manifest {
    name            = 'amr-cloud-pipeline'
    description     = 'AMR detection for bacterial isolates'
    homePage        = 'https://github.com/simomounir/amr-cloud-pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.0'
    version         = '0.1.0'
}

plugins {
    id 'nf-schema@2.8.0'
}

params {
    input                  = null
    outdir                 = 'results'
    amrfinder_db           = null
    amrtools_container     = 'ghcr.io/simomounir/amrtools:0.1.0'
    qc_min_assembly_length = 5000000
    qc_max_assembly_length = 6500000
    qc_max_contigs         = 500
    qc_min_q30             = 0.80
}

includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '--platform linux/amd64 -u $(id -u):$(id -g)'
    }
    test {
        includeConfig 'conf/test.config'
    }
}
