process {
    withName: 'FASTP' {
        ext.args   = '--detect_adapter_for_pe'
        publishDir = [path: { "${params.outdir}/fastp" }, mode: 'copy', pattern: '*.{json,html}']
    }
    withName: 'SHOVILL' {
        publishDir = [path: { "${params.outdir}/assembly/${meta.id}" }, mode: 'copy', pattern: 'contigs.fa']
    }
    withName: 'AMRFINDERPLUS_RUN' {
        ext.args   = '--plus'
        publishDir = [path: { "${params.outdir}/amrfinderplus" }, mode: 'copy', pattern: '*.tsv']
    }
    withName: 'KLEBORATE' {
        publishDir = [path: { "${params.outdir}/kleborate" }, mode: 'copy']
    }
    withName: 'AMRTOOLS_MERGE' {
        publishDir = [path: { "${params.outdir}/summary" }, mode: 'copy']
    }
}
